@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

@layer base {
  @import "base";
}


@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";

}

@layer utilities {
  @import "utilities";
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}







@keyframes loop-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* Ajustez en fonction de la largeur totale */
  }
}

.animate-loop-scroll {
  animation: loop-scroll 10s linear infinite; /* Ajustez la durée selon vos besoins */
}
